body{
    background-color: #1f1e1e;
    color: whitesmoke;
    margin: 0;
    text-align: center;
}

nav{
    background-color: whitesmoke;
    color: black;
    width: 100%;
    height: 2vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

section {
    margin: 1vw;
    text-align: justify;
}