{% extends 'index.html' %}
{% load static %}
{% block content %}
<section>
    <h1>Sobre o projeto</h1>
    <p>Jogo com estilo baseado em Undertale, porém diferente de jogos feitos por fãs, Baron Slayers terá novo enredo, novos personagens, estilo original de combate, música e arte originais.

        Atualmente a equipe toda está focada no projeto e esperamos dar a vocês um jogo totalmente original! Este é um site de apresentação do projeto, para acompanhar o nosso desenvolvimento acompanhe o nosso Game Jolt!.</p>
</section>
{% endblock %}