{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Baron Slayers</title>
</head>
<body>
    <h1>Baron Slayers</h1>
    <nav>
        <a href="sobre">Sobre</a>
        <a href="atualizacoes">Atualizações</a>
        <a href="comentarios">Comentários</a>
        <a href="imagens">Imagens</a>
        <a href="https://baronslayers.github.io/">Equipe</a>
    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>